<form action="{% url 'add_to_cart' product.id %}" method="post">
  {% csrf_token %}
  <div>
    {% with product.has_sizes as s %} {% if s %}
    <label for="product_size">Size</label>
    <select
      class="w-full rounded border py-2 pl-2"
      name="product_size"
      id="product_size"
    >
      {% for size in sizes %}
        <option value="{{ size }}">{{ size }}</option>
      {% endfor %}
    </select>
    {% else %}
    <input
      type="hidden"
      name="size"
      value="N/A"
    />
    {% endif %} {% endwith %}
  </div>
  <div class="flex gap-x-2">
    <div >
      <label>
        <input class="border pl-2 py-2 rounded w-min" type="number"  name="quantity" value="1" min="1" max="99" data-item_id="{{ product.id }}" width="230">
      </label>
    </div>
    <div class="grow">
      <input class="bg-black w-full rounded text-white py-2 px-4" type="submit" value="Add to cart">
    </div>
  </div>
  <input type="hidden" name="redirect_url" value="{{ request.path }}">
</form>