{% load cart_tags %}

<div
  role="alert"
  id="header-alert"
  data-alert-type="{{ message.tags }}"
>
  <div class="flex justify-between">
    <p class="px-2 pt-2 font-semibold capitalize">
      {{ message.tags|split_word:"-" }}!
    </p>
    <button
      aria-label="close alert"
      class="h-max w-max rounded-full border px-[0.7rem] py-[0.2rem] text-lg hover:bg-amber-400"
    >
      x
    </button>
  </div>

  <div
    class="mx-auto mt-4 w-auto space-y-4 rounded bg-white p-3 text-center text-sm shadow"
  >
    <p>{{ message }}</p>
    {% comment %}
     FIXME: USE REGEX IN CONTEXT PROCESSOR TO LIMIT TO SPECIFIC VIEWS
     {% endcomment %}
    {% if not "checkout_success" in request.path and not'new' in request.path %}
      {% if free_delivery_delta %}
    <div class="rounded bg-amber-400 py-2 text-sm font-semibold">
      <p>Spend €{{ free_delivery_delta }} more to get FREE DELIVERY!</p>
    </div>
    {% endif %}

    <div class="h-64 space-y-8 overflow-y-scroll">
      <p class="text-left">Total items: ({{ product_count }})</p>
      {% for item in cart_items %} {# Product image & details #}
      <div class="grid grid-cols-[1fr,2fr]">
        {%if item.product.img %}
        <img
          width="65"
          height="65"
          src="{{ item.product.image.url }}"
          alt="{{ item.product.name }}"
        />
        {% else %}
        <img
          width="65"
          height="65"
          src="{{ MEDIA_URL }}no-image.svg"
          alt="{{ item.product.name }}"
        />
        {% endif %}
        <div class="space-y-1 text-left">
          <p class="font-semibold">{{ item.product.name }}</p>
          <p>
            {% if item.product.has_sizes %} Size:{{ item.size|upper }}
              {%else%}N/A{% endif %}
          </p>
          <p>Qty: {{ item.quantity }}</p>
          <p>€ {{ item.product.price }}</p>
        </div>
      </div>
      {% endfor %}
      <div class="flex justify-between font-semibold">
        <p>Subtotal</p>
        <p>€ {{ total }}</p>
      </div>
      <div class="rounded bg-black py-4 font-bold !text-white">
        <a href="{% url 'checkout' %}">Checkout</a>
      </div>
    </div>
    {% endif %}
  </div>
</div>
