{% extends "base.html" %} {% load static %} {% block page_header %}
<div class="container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %} {% block content %}

<main class="container mt-24 space-y-12 lg:max-w-screen-lg">
  <section>
    {# mobile product display #}
    <div class="space-y-6 md:hidden">
      <h1 class="max-w-[20ch] text-2xl">{{ product.name }}</h1>
      <div class="flex gap-x-2">
        <p class="block text-lg font-bold">€{{ product.price }}</p>
        {% if product.category %}
        <div class="flex items-center gap-x-1">
          <svg
            class="h-4 w-4"
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            viewBox="0 0 512 512"
          >
            <path
              fill="#929292"
              d="M448 183.8v-123A44.66 44.66 0 0 0 403.29 16H280.36a30.62 30.62 0 0 0-21.51 8.89L13.09 270.58a44.86 44.86 0 0 0 0 63.34l117 117a44.84 44.84 0 0 0 63.33 0l245.69-245.61A30.6 30.6 0 0 0 448 183.8ZM352 144a32 32 0 1 1 32-32a32 32 0 0 1-32 32Z"
            ></path>
            <path
              fill="#929292"
              d="M496 64a16 16 0 0 0-16 16v127.37L218.69 468.69a16 16 0 1 0 22.62 22.62l262-262A29.84 29.84 0 0 0 512 208V80a16 16 0 0 0-16-16Z"
            ></path>
          </svg>
          <a
            class="block"
            href="{% url 'products' %}?category={{ product.category.name }}"
          >
            {{ product.category.friendly_name }}
          </a>
        </div>
        {% endif %}
        <div class="flex items-center gap-x-1">
          <svg
            aria-hidden="true"
            class="h-4 w-4"
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            viewBox="0 0 24 24"
          >
            <path
              fill="currentColor"
              d="m8 18l4-3.05L16 18l-1.5-4.95l4-2.85h-4.9L12 5l-1.6 5.2H5.5l4 2.85L8 18Zm4 4q-2.075 0-3.9-.788t-3.175-2.137q-1.35-1.35-2.137-3.175T2 12q0-2.075.788-3.9t2.137-3.175q1.35-1.35 3.175-2.137T12 2q2.075 0 3.9.788t3.175 2.137q1.35 1.35 2.138 3.175T22 12q0 2.075-.788 3.9t-2.137 3.175q-1.35 1.35-3.175 2.138T12 22Z"
            ></path>
          </svg>
          <p
            aria-label="product rating"
            class="text-sm"
          >
            {% if product.rating %} {{ product.rating }} / 5 {% else %} No
            rating yet {% endif %}
          </p>
        </div>
      </div>
      {# product image #} {% if product.image %}
      <a
        class="block"
        href="{{ product.image.url }}"
        target="_blank"
      >
        <img
          src="{{ product.image.url }}"
          alt="{{ product.name }}"
          class="mx-auto"
          width="380"
          height="380"
        />
      </a>
      {% else %}
      <img
        src="{{ MEDIA_URL}}no-image.svg"
        alt="{{ product.name }}"
        class="mx-auto"
        width="380"
        height="380"
      />
      {% endif %}
    </div>
    <div class="md:hidden">
      <h2 class="mt-24 space-y-4">
        <span class="block text-lg font-bold">Description</span>
        {{ product.description }}
      </h2>
    </div>

    {# desktop product display #}
    <div
      class="hidden md:grid md:grid-cols-2 md:gap-x-8 lg:grid-cols-[2fr,1fr]"
    >
      <div class="md:space-y-6">
        <h1 class="md:max-w-[20ch] md:text-2xl">{{ product.name }}</h1>
        {#Product price and rating, category #}
        <div class="md:space-y-3">
          <p class="md:block md:text-lg md:font-bold">€{{ product.price }}</p>
           <div class="flex gap-x-2 items-center">
             {% if product.category %}
               <div class="flex items-center gap-x-1">
                 <svg
                   class="h-4 w-4"
                   xmlns="http://www.w3.org/2000/svg"
                   width="32"
                   height="32"
                   viewBox="0 0 512 512"
                 >
                   <path
                     fill="#929292"
                     d="M448 183.8v-123A44.66 44.66 0 0 0 403.29 16H280.36a30.62 30.62 0 0 0-21.51 8.89L13.09 270.58a44.86 44.86 0 0 0 0 63.34l117 117a44.84 44.84 0 0 0 63.33 0l245.69-245.61A30.6 30.6 0 0 0 448 183.8ZM352 144a32 32 0 1 1 32-32a32 32 0 0 1-32 32Z"
                   ></path>
                   <path
                     fill="#929292"
                     d="M496 64a16 16 0 0 0-16 16v127.37L218.69 468.69a16 16 0 1 0 22.62 22.62l262-262A29.84 29.84 0 0 0 512 208V80a16 16 0 0 0-16-16Z"
                   ></path>
                 </svg>
                 <a
                   class="block"
                   href="{% url 'products' %}?category={{ product.category.name }}"
                 >
                   {{ product.category.friendly_name }}
                 </a>
               </div>
             {% endif %}

             {% if product.rating %}
          <div class="md:flex md:items-center md:gap-x-1">
           </div>
            <svg
              aria-hidden="true"
              class="h-4 w-4"
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              viewBox="0 0 24 24"
            >
              <path
                fill="currentColor"
                d="m8 18l4-3.05L16 18l-1.5-4.95l4-2.85h-4.9L12 5l-1.6 5.2H5.5l4 2.85L8 18Zm4 4q-2.075 0-3.9-.788t-3.175-2.137q-1.35-1.35-2.137-3.175T2 12q0-2.075.788-3.9t2.137-3.175q1.35-1.35 3.175-2.137T12 2q2.075 0 3.9.788t3.175 2.137q1.35 1.35 2.138 3.175T22 12q0 2.075-.788 3.9t-2.137 3.175q-1.35 1.35-3.175 2.138T12 22Z"
              ></path>
            </svg>

            <p
              aria-label="product rating"
              class="md:text-sm"
            >
              {% if product.rating %} {{ product.rating }} / 5 {% else %} No
              rating yet {% endif %}
            </p>
          </div>

          {% endif %}
        </div>

        {% if product.image %}
        <a
          href="{{ product.image.url }}"
          target="_blank"
          class="md:block"
        >
          <img
            src="{{ product.image.url }}"
            alt="{{ product.name }}"
            class="md:mr-auto"
            width="380"
            height="380"
          />
        </a>
        {% else %}
        <img
          src="{{ MEDIA_URL}}no-image.svg"
          alt="{{ product.name }}"
          class="md:mr-auto"
          width="380"
          height="380"
        />
        {% endif %}
      </div>
      <div class="md:mt-40">
        <h2>
          <span class="md:text-xl">Description</span><br />
          {{ product.description }}
        </h2>
      </div>
    </div>
  </section>
</main>
{% endblock %}
