@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --alert-success: 140 50% 64%;
        --alert-error: 6 78% 57%;
        --alert-warning: 48 89% 50%;
        --alert-info: 204 70% 53%;
        --alert-secondary: 184 9% 62%;
    }
}

@layer components {
    /* Alert box*/
    div[role="alert"] {

        @apply
        top-[100px]
        right-[100px]
        border-t-4
        fixed
        z-50
        bg-white
        shadow-lg
        rounded-lg
        p-4 w-96;

       &[data-alert-type="alert-success"]  {
            @apply border-alert-success ;
        }

        &[data-alert-type="alert-danger"]  {
            @apply border-alert-error ;
        }

        &[data-alert-type="alert-warning"]  {
            @apply border-alert-warning ;
        }

        &[data-alert-type="alert-info"]  {
            @apply border-alert-info ;
        }

        &[data-alert-type="alert-secondary"]  {
            @apply border-alert-secondary ;
        }
    }
}

/* Mobile menu*/
#mobile-menu[menu-visible='true'] {
  @apply left-0;
}

@layer base {
  body {
    @apply relative -z-10 h-screen w-full bg-cover bg-fixed bg-no-repeat;
    background-image: image-set(
      url('../images/home-banner-lg.webp') 1x,
      url('../images/home-banner-lg@2x.webp') 2x
    );
    background-position: center center;

    @screen md {
      background-image: -webkit-image-set(
        url('../images/home-banner-xl.webp') 1x,
        url('../images/home-banner-xl@2x.webp') 2x
      );
    }

    @screen lg {
      background-image: url('../images/home-banner.webp');
    }
  }

/* Product page*/
#products > div {
    @apply relative z-10;

    ::after {
      @apply
      content-['']
      absolute
      bg-gray-200
      -bottom-7
      h-0.5
      w-[calc(100%+4rem)]; /*4rem is the is the grid gap between the products*/
    }
}
